<style>

ngui-auto-complete {
        width: 500px !important;
        position: absolute;
        left: 10px !important;
        top: 10px !important;
}
ngui-auto-complete ul {
background-color: black;
}
</style>

<div class="widgets" style="text-align:center;" *ngIf="!edit && !viewPerformance && !viewStructure">
  <div style="text-align: left;display: inline-block; width: 80%;" class="row">
    <div class="col-xs-2">
      <select class="form-control" style="width: 200px; float:left; margin-right: 10px;" [(ngModel)]="selectedAction">
            <option value disabled selected>--Select Action--</option>
            <option value="bulkDelete">Bulk Delete</option>
            <option value="import">Import</option>
      </select>
    </div>
    <div class="col-xs-2">
      <!--<button class="btn btn-hero-primary" type="button" (click)="applyAction(selectedAction)">Go</button>-->
    </div>
    <div class="col-xs-8 text-right">
      <nb-checkbox [(ngModel)]="activeOnly" (ngModelChange)="loadEmployeeGrid()">Show Active Employee</nb-checkbox>
    </div>
  </div>
  <div class="row" style="display: inline-block; width: 80%;margin-top: 40px;">
    <nb-card title="Manage Department" baCardClass="with-scroll" class="smart-table-container">
      <nb-card-header> Employee List </nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="settings" 
            [source]="source" 
            (edit) = "onEdit($event)"
            (create)= "onCreate()"
            (delete)= "onPerformance($event)"></ng2-smart-table>
      </nb-card-body>
      <nb-card-footer>
        <button class="btn btn-hero-primary" type="button" (click)="viewStructure = true;">View Structure</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<div class="widget" style="text-align: center" *ngIf="edit">
  <div class="row" style="display: inline-block; width: 85%;margin-top: 40px;">
    <nb-card>
      <nb-card-header>
        Add/Edit Employee
      </nb-card-header>
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Profile">
          <form style="padding-top: 20px; width: 95%;">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group" style="text-align: left;">
                  <label for="EmpID">Employee ID</label>
                  <input type="text" class="form-control" name="EmpID" id="EmpID" placeholder="Employee ID" [(ngModel)] = "changedEmployee.EmployeeID">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group" style="text-align: left;">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Name" [(ngModel)] = "changedEmployee.EmployeeName">
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group" style="text-align: left;">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" id="email" name="email" placeholder="Email" [(ngModel)] = "changedEmployee.Email">
                </div>
              </div>
              
              <div class="col-sm-6">
                <div class="form-group" style="text-align: left;">
                  <label for="ResetPassword" style="width: 100%; position: relative;">Password 
                    <a href="javascript:void(0)" (click)="toggleReset()"  style="float: right; font-size: 12px; bottom: 0;right:0; position: absolute">
                      Reset Password
                    </a>
                  </label>
                  <input type="password" class="form-control" [disabled]="enableReset == false" name="resetPassword" id="ResetPassword" placeholder="New Password" [(ngModel)]="changedEmployee.NewPassword">
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group" style="text-align: left;">
                  <label for="Position">Position</label>

                  <div ngui-auto-complete
                    [source]="positions"
                    [max-num-list]="3"
                    [min-chars]="1"
                    class="nb-theme-cosmic"
                    (valueChanged)="onPositionChanged($event)">
                    <input type="text" class="form-control" name="Position" id="Position" autocomplete="off" placeholder="Position" [ngModel] = "changedEmployee.Position">
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group" style="text-align: left;">
                  <label for="Department">Department</label>
                  <div ngui-auto-complete
                    [source]="departments"
                    [max-num-list]="3"
                    [min-chars]="1"
                    class="nb-theme-cosmic"
                    (valueChanged)="onDepartmentChanged($event)">
                    <input type="text" class="form-control" id="Department" name="Department" autocomplete="off" placeholder="Department" [ngModel] = "changedEmployee.Department">
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group" style="text-align: left;">
                  <label for="Superior">Superior</label>
                    <input type="text" 
                      ngui-auto-complete 
                      [source]="superiors" 
                      value-property-name="id"
                      display-property-name="name"
                      type="text" 
                      class="form-control" 
                      id="Superior" 
                      name="Superior" 
                      autocomplete="off" 
                      placeholder="Superior" 
                      [list-formatter]="autocompleListFormatterSuperior"
                      [max-num-list]="3"
                      [(ngModel)] = "changedEmployee.Superior">
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group" style="text-align: left;">
                  <label for="status">Status</label>
                  <input type="text" class="form-control" name="status"  id="status" [disabled]="true" placeholder="Status" [(ngModel)] = "changedEmployee.Status">
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group" style="text-align: left;">
                  <label for="lastActivity">Last Activity</label>
                  <input type="text" class="form-control" name="lastActivity" [disabled]="true" id="lastActivity" placeholder="Last Activity" [(ngModel)] = "changedEmployee.LastActivity">
                  
                </div>
              </div>

              <div class="col-sm-12">
                <!--<nb-checkbox status="success" class="col-sm-12">Send Email Notification</nb-checkbox>-->
              </div>
            </div>
          </form>
            <div class="text-right">
              <button class="btn btn-hero-primary text-right" *ngIf="changedEmployee.Status == 'Inactive' && isNew == false" type="button" (click)="activate(true)">Activate</button>
              <button class="btn btn-hero-primary text-right" *ngIf="changedEmployee.Status == 'Active' && isNew == false" type="button" (click)="showInactiveDate()">Deactivate</button>
              <button class="btn btn-hero-primary text-right" type="button" (click)="saveProfile()">Save</button>
            </div>
          </nb-tab>

          <!--<nb-tab tabTitle="Performance">
            <div class="row">
              <div class="col-xs-12">
                <select class="form-control" style="width: 200px; float:left; margin-right: 10px;" [(ngModel)]="selectedPiePeriod" (change)="onPiePeriodChange($event.target.value)">
                      <option value="today" selected>Today</option>
                      <option value="thisWeek">This Week</option>
                      <option value="thisMonth">This Month</option>
                </select>
              </div>
              <div class="col-xs-12">
                <ngx-charts-advanced-pie-chart
                  [scheme]="activitySummaryOption"
                  [results]="activitySummaryData"
                  [view]="[500, 400]"
                  >
                </ngx-charts-advanced-pie-chart>
              </div>
            </div>
          </nb-tab>-->

          <nb-tab tabTitle="Settings">
          </nb-tab>

        </nb-tabset>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <button class="btn btn-hero-primary" type="button" (click)="edit = false;">Back</button>
    </nb-card>
  </div>
</div>
      <toaster-container [toasterconfig]="configToast"></toaster-container>
<div class="widget" style="text-align: center" *ngIf="viewPerformance">
  <nb-card>
    <nb-card-header> <h3> Performance </h3> </nb-card-header>
    <nb-card-body>
      <ngx-performance
      [userID]="performanceUserID"></ngx-performance>
    </nb-card-body>
    <nb-card-footer>
      <button class="btn btn-hero-primary" type="button" (click)="viewPerformance = false;">Back</button>
    </nb-card-footer>
  </nb-card>
</div>
<div *ngIf="viewStructure">
  <nb-card>
    <nb-card-header class="widget" style="text-align: center"> <h3> Employee Structure </h3> </nb-card-header>
    <nb-card-body>
      <ngx-employee-structure></ngx-employee-structure>
    </nb-card-body>
    <nb-card-footer class="widget" style="text-align: center">
      <button class="btn btn-hero-primary" type="button" (click)="viewStructure = false;">Back</button>
    </nb-card-footer>
  </nb-card>
</div>